body, div, p {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#container p {
  font-size: 2rem;
  color: grey;
}

#container p.success {
  color: lightcoral;
}

.blinding {
  animation-name: blinding;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes blinding {
  from { color: grey; }
  to { color: lightgrey; }
}
